<div class=" mt-4 under-ths">

    <div class="dashboard-sticky mt-4">
        <div class="dashboard-sticky-inner mt-4">

            <div class="dashboard-menu has-submenu">
                <a href="#" class="item">
                    <i class="icon icon-side-sticky-menu"></i>
                </a>
                <ul class="submenu" style="margin-top:50px">
                    <li class=" {% if active == "user_profile" %} active{% endif %} "><a class="item" href="/user_profile">My Profile</a></li>
                    <li class=" {% if active == "my_trips" %} active{% endif %}"><a class="item" href="/my_trips">My Trips</a>
                    </li>
                  
                   

                </ul>
            </div>

        </div>

    </div>
</div>