{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <!-- Standard Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SeventhQueen" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>


<link rel="stylesheet" type="text/css" href="{% static '' %}public/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static '' %}public/assets/less/base.min.css">
<link rel="stylesheet" type="text/css" href="{% static '' %}public/assets/less/header.min.css">
<link rel="stylesheet" type="text/css" href="{% static '' %}public/assets/less/theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static '' %}public/assets/icon/style.css">
<link rel="stylesheet" type="text/css" href="{% static '' %}public/assets/icon/style.css">
<link rel="stylesheet" href="{% static '' %}public/assets/css/custom.css">
<link rel="stylesheet" 
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static '' %}public/assets/library/modernizr-custom.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
   

</head>