{% extends "user/layout/base.html" %}
{% block body %}
<div class="ui layout">
       
    <!-- grid -->
    <div class="ui grid container">
       
        <div class="row">
           
           <div class="ui twelve wide tablet three wide computer three wide widescreen three wide large screen column">
            {% include "user/layout/sidebar.html" with active="my_trips" %}
                
           </div>
           
           <div class="ui twelve wide tablet nine wide computer nine wide widescreen nine wide large screen column">
             
              <div class="typo-header-sq">
                <div class="ui grid">
                  <div class="row">
                    <div class="ui twelve wide computer column">
                       <h2>Trips</h2>

                       <ul class="inline-menu-sq list-default-sq list-style-inline-sq">
                            <li class="">
                                <a href="/my_trips">All</a>
                            </li>
                            <li class="active">
                                <a href="/my_orders_completed">Completed</a>
                            </li>
                            <li class="">
                                <a href="/my_orders_processing">Processing</a>
                            </li>
                        </ul>
                    </div>
                  </div>
                 </div>
               </div>
               
               <div class="ui grid">
                   <div class="row">
                        

                        <div class="ui twelve wide tablet twelve wide computer twelve wide widescreen twelve wide large screen column"> 

                            <div class="ui grid">
                                {% for data in  data %}
                               <div class="ui twelve wide mobile six wide tablet six wide computer four wide widescreen four wide large screen column">
                                    <div class="dashboard-order-boxes-sq">
                                        <span class="dashboard-label-sq">{{data.BookDateandtime}}</span>
                                        <p class="dashboard-content-sq">Id nr. &nbsp;<strong>{{data.pk}}</strong></p>

                                        <span class="dashboard-label-sq">Company</span>
                                        <div class="dashboard-content-sq">

                                            <p class="flex-grow-true">{{data.car.vendorId.companyName}}</p>
                                            <div class="avatar-sq tiny-avatar-sq verified-sq">
                                                <!-- <img src="assets/images/avatar/avatar_01.jpg" alt=""> -->
                                            </div>

                                        </div>

                                        <span class="dashboard-label-sq">Total</span>
                                        <p class="dashboard-content-sq"><strong>&dollar;{{data.totalPrice}}</strong></p>

                                        <span class="dashboard-label-sq">Status</span>
                                        {% if data.status == "Processing" %}
                                        <p class="dashboard-content-sq dashboard-status-sq processing-sq"><strong>Processing</strong></p>
                                        {% else %}
                                        <p class="dashboard-content-sq dashboard-status-sq completed-sq"><strong>Completed</strong></p>
                                        {% endif %}
                                       

                                        <a href="" class="button-sq see-through-sq fullwidth-sq">View <i class="icon icon-slim-arrow-right"></i></a>
                                    </div>
                                </div>
                                {% endfor %}
                               
                            </div>

                        </div>

                        <div class="ui twelve wide tablet twelve wide computer twelve wide widescreen twelve wide large screen column">

                            <ul class="list-default-sq pagination-simple-sq right-sq">
                                <li class="active"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                            </ul>

                        </div>
               </div>
               </div>
           </div>
           
           
        </div>
    </div>
    
    
</div>    
   
{% endblock body %}